body{
  font-family: "Raleway";
  color: #888;
  background: #7a7a7a;
  margin: 10px 30px;
}
#homepage{
  margin: 60px auto;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  padding: 20px;
}
button{
  vertical-align: middle;
  float: right;
  background: none;
  padding-top: -12px;
  border: 0;
  color: #2CBAE7;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Raleway";
}
button.false{display: none;}

input[type="text"]{
  display: block;
  width: 240px;
  margin: 6px auto;
  padding: 8px;
  outline: none;
  border-radius: 4px;
}
input[type='submit']{
  background: #555;
  color: #fff;
  border: 0;
  padding: 10px;
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border-radius: 4px;
}
.maincontainer{
  display:flex;
}
.addcontactbtn {
  font-size: 48px;
  margin: auto 0px;
  margin-left: 45px;
  font-weight: 100;
  border: none;
  outline: none;
}
.cardcontainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.addinputform {
  margin: 10px;
}
.cardphoto{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.color{
  background-color: yellow;
}
.contactcard{
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  margin: 5px 15px;
  padding: 5px;
  border: 2px solid white;
}
.contactcard > .name {
  margin-left: 20px;
}
.contactcard:hover{
  border: 2px solid #3a3a3a;
  border-radius: 5px;
}
.detailcontainer{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  max-height: 500px;
  align-items: center;
  background-color: white;
}
.detailimagecontainer{
  align-items: center;
}
.detailcontainer input {
  background: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid lightgray;
}
.detailimage{
  cursor: pointer;
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-size: cover;
  margin: 20px auto;
}
.detailmaincontainer{
  position: relative;
  width: 100%;
}
.button-delete {
  font-size: 26px;
  top: 0px;
  right: 0px;
  position: absolute;
}
.button-deleteall {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.searchbar {
  background: transparent;
  border: none;
}
.title{
  color: #fff;
  text-align: center;
  font-size: 32px; /*48*/
}
.horizontaldivider {
  margin: 1px 0px;
  background-color: lightgray;
  height: 1px;
  width: 100%;
}
.verticaldivider {
  margin: 10px 50px;
  background-color: lightgray;
  height: 400px;
  width: 1px;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
#homepage h1{
  text-align: center;
  margin-left: 30px;
}
form{
  max-width: 350px;
  margin: 30px auto;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  padding: 15px 0;
  background: #eee;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 4px;
}
span{
  margin: 0 20px;
}
